/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

li {
    background: #ffffff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: #007bff;
}

p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #555;
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

form.button-delete {
    font-size: 25px; 
    color:green;
}

a.button-edit {
    color:#007bff;
}